@charset "ISO-8859-1";
*{
	margin:0;
	padding:0;
}

body {
	background-image: url('hand-wallpaper (1).jpg');
	background-repeat: no-repeat;
	background-size : cover;
	font-family:sans-serif;
	color:#7f5056;
}

.nav{
	background:#00000014;
	width: 100%;
	height:40px;
}
.nav ul{
	list-style: none;
}
.nav ul li{
	float:right;
	height:40px;
	text-align:center;
	width:150px;
}
.nav ul li a{
	text-decoration:none;
	display:block;
	color:#7f5056;
	line-height:40px;
	font-size:20px;
}
.nav ul li a:hover{
	background:#acadaa;
	transition:all ease-in-out 0.20s;
}
.nav pre{
	float:left;
	color:#d23c56;
	display:block;
	line-height:40px;
	font-size:35px;
	font-family: Segeo Script;
}

.sidebar{
	background:#00000014;
	width:15%;
	height:100%;
	margin-top:2px;
	float:left;
	display:block;
}
.sidebar ul {
	margin:0;
	padding:0;
	list-style-type: none;
}
.sidebar ul li {
	width: 100%;
	height: 60px;
	line-height: 60px;
	text-align: center;
	font-size: 25px; 
}
.sidebar ul li a {
	text-decoration: none;
	color: #7f5056;
	display: block;
}
.sidebar ul li a:hover {
	background-color:#acadaa;
	transition:all ease-in-out 0.20s;
}

.main{
	width:80%;
	color:#7f5056;
	text-align:center;
	height:100%;
	margin-left:17%;
	background:#ffffff0f;
	border-radius:15px;
	font-size:20px;
	box-shadow:0px 0px 10px 0px #7f5056;
}
.main table{
	margin-left:auto;
	margin-right:auto;
	text-align: left;
}
.main input[type="text"], [type="password"], [type="email"], [type="number"],
	[type="date"] {
	border-radius: 7px;
	border-style: inset;
	line-height: 20px;
	color: #7f5056;
	background: #f3cc9d73;
}

.main textarea{
	border-radius: 7px;
	border-style: inset;
	line-height: 20px;
	color: #7f5056;
	background: #f3cc9d73;
}

::placeholder {
	color: #7f5056;
}

.main input[type="submit"], [type="reset"] {
	height: 35px;
	width: 100px;
	color: #7f5056;
	font-size:20px;
	border-radius: 7px;
	border-style: outset;
	background: #acadaa7a;
}

.main input[type="submit"]:hover, [type="reset"]:hover {
	border-radius: 5px;
	border-style: inset;
	line-height: 25px;
	widht: 10px;
	background: #f3cc9d73;
}

.Menu button {
	height: 35px;
	width: 100px;
	color: #7f5056;
	border-radius: 5px;
	border-style: outset;
	background: #0000007a;
}

.Menu button:hover {
	border-radius: 5px;
	border-style: inset;
	line-height: 25px;
	widht: 10px;
	background: #acadaa7a;
}
